<p-sidebar [visible]="true" [transitionOptions]="'0ms'" [dismissible]="false" [showCloseIcon]="false" [modal]="false">
    <div class="flex flex-column align-items-center gap-5">
        <div class="flex flex-column align-items-center gap-2">
            <p-button icon="pi ico-compass" styleClass="p-button-rounded p-button-text p-button-raised"></p-button>
            <p-button icon="pi ico-star" styleClass="p-button-rounded p-button-text p-button-raised"></p-button>
            <div class="badge-button">
                <p-button icon="pi ico-messenger" styleClass="p-button-rounded p-button-text p-button-raised"></p-button>
            </div>
            <p-button icon="pi ico-trading" styleClass="p-button-rounded p-button-text p-button-raised"></p-button>
            <p-button icon="pi ico-world" styleClass="p-button-rounded p-button-text p-button-raised"></p-button>
            <p-button icon="pi ico-building" styleClass="p-button-rounded p-button-text p-button-raised"></p-button>
        </div>

        <div class="flex flex-column align-items-center gap-2">
            <div class="badge-button">
                <img class="sidebar-avatar" src="assets/images/avatars/Avatar1.svg">
            </div>
            <img class="sidebar-avatar" src="assets/images/avatars/Avatar2.svg">
            <img class="sidebar-avatar" src="assets/images/avatars/Avatar3.svg">
            <img class="sidebar-avatar" src="assets/images/avatars/Avatar4.svg">
            <p-button icon="pi ico-plus-round" styleClass="p-button-rounded p-button-text p-button-raised"></p-button>
        </div>
    </div>
    
    
</p-sidebar>